<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttsea.jcamera">

    <!-- 使用相机权限声明  start-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 使用相机权限声明  end-->

</manifest>
